[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".pyenv/plugins/pyenv-virtualenvwrapper"]
	path = .pyenv/plugins/pyenv-virtualenvwrapper
	url = https://github.com/pyenv/pyenv-virtualenvwrapper.git
[submodule ".pyenv/plugins/pyenv-virtualenv"]
	path = .pyenv/plugins/pyenv-virtualenv
	url = https://github.com/pyenv/pyenv-virtualenv.git
[submodule ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
