# This is Git's per-user configuration file.
[user]
  name = Antti Hautaniemi
  email = antti.hautaniemi@me.com
[init]
  defaultBranch = master
[push]
  followTags = true
[pull]
  rebase = true

[diff "plist"]
  textconv = plutil -convert xml1 -o -
